.about-img-2 {
    width: 18.75rem;
    height: 21.5625rem;
    object-fit: cover;
    object-position: center;
}

.carousel-item img {
    height: 25rem !important;
    object-fit: contain;
    object-position: center;
    display: block !important;
    margin: auto !important;
}

.portfolio-section .carousel-item {
    width: 100%;
    height: 25rem;
}

.portfolio-section .carousel-caption,
.bg-gray {
    background-color: rgba(0, 0, 0, 0.3);
}

.portfolio-section .carousel-caption * {
    color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}


.portfolio-section .carousel-inner {
    background: rgba(0, 0, 0, .1);

}

.skill-badge {
    color: black !important;
    font-weight: 300 !important;
    background-color: #d5e0d5 !important;
    cursor: pointer;
}

.skill-badge:hover {
    background-color: #b9c0b9 !important;
}

.profile-fluid-img {
    height: 28.4082rem;
}

.profile-fluid-img {
    height: 22.7266rem !important;
    object-fit: cover;
    width: 100%;
}

@media (min-width:36.25rem) {

    .profile-fluid-img {
        height: 28.4082rem !important;
    }

    

}
@media (max-width:36.25rem) {
    section.hero-area .link-group {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    section.skills-section .container .row div:not(:first-child) {
        margin-top: 1rem;
    }

    .section-title {
        margin-bottom: 1rem;

    }

    .portfolio-section .box .title,
    .portfolio-section .box .category {
        display: block;
        font-size: .625rem;
        opacity: 1;

    }

    .portfolio-section .box>img {
        height: 7.375rem;
    }
    .portfolio-section .box{
        background-color: transparent;
    }
    .portfolio-section .box .box-content {
        opacity: 1;
        background: rgba(128, 128, 128, 0.153);
        position: relative;
        padding: .3125rem 0;

    }
    .portfolio-section  div.row > div  h2.item-title{
        font-size: 1.125rem;
        margin-bottom: 0rem;
    }
    .portfolio-section .box .box-content .category
    {
        display: none;
    }

    .portfolio-section .box {
        position: relative;
    }

    .portfolio-section .box .box-content * {
        color: black;
    }
    .modal .btn-close{
        top: .25rem;
        right: .6875rem;
        height: 1.25rem;
        width: 1.25rem;
    }
    .modal .btn-close i::before{
        vertical-align: top;
    }
}

section.skills-section .container .row div li {
    list-style-type: disc;
}

section.skills-section .section-title {
    margin-bottom: 2rem;
}